.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.title {
  font-family: "Arial Black", sans-serif;
  font-size: 52px;
  color: #ffc145;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  width: 900px;
  color: #ffc145;
  text-align: center;
}
